@font-face {
    font-family: "Scoreboard-Font";
    src: url(Get_Digital.ttf ) format("truetype");
}

body { 
	background: url(../images/NFL_Background_Spotlight_Logos.jpg) no-repeat; 
	background-size:100%;
}
.wrapper{
	max-width:960px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: black;
}


header{
	height:50px;
	margin: 15px 0 auto;
	text-align: center;
	vertical-align: center;
	background-color: white;

}

.MainSection{
	text-align: center;
	background-color: white;
	margin:15px 0px;	
}

#questionSection {
	min-height: 125px;
}
#questionSection button {
	width: 100px;	
}

#questionSection img {
	width: 400px;	
}

#questionSection button:hover {
	background:yellow;
}

#responseSection {
	min-height: 125px;
}
#resultSection{
	min-height: 125px;
}
#display{
  background: black;
  color:yellow;
  font-size: 40px;
  font-family: monospace;
  font-family: 'Scoreboard-Font';
  text-align: center;h
}

#start-button{
  text-align: center;
}
button{
  height:50px;
  width:250px;
  margin: 15px;
}

.right{
	float:right;
}
.left{
	float:left;
}
.clearfix{
	clear:both;
}

footer{
	width:100%;
	text-align: center;
	clear: both;
	margin:15px 0px;
	background-color: white;
}