body { 
	background: url(../images/) no-repeat; 
	background-size:100%;
}
.wrapper{
	max-width:960px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: black;
}


header{
	height:150px;
	margin: 15px 0 auto;
	text-align: center;
	vertical-align: center;

}

.MainSection{
	text-align: center;
}
#questionSection button {
	width: 100px;
}
#questionSection button:hover {
	background:yellow;
}

#display{
  background: black;
  color:green;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
}

#start-button{
  text-align: center;
}
button{
  height:50px;
  width:250px;
  margin: 15px;
}

.right{
	float:right;
}
.left{
	float:left;
}
.clearfix{
	clear:both;
}

footer{
	width:100%;
	text-align: center;
	clear: both;
}